@import '_vars';
@import 'modules/_usercomponent';
@import 'modules/_userhomecomponent';
@import 'modules/_footer';
@import 'modules/_login';
@import 'modules/_sidebar';
@import 'modules/_comment';

@import 'modules/_mediaqueries';


* { border: 0; padding: 0; margin: 0 auto; }

html { 
	position: relative; 
	min-height: 100%; 

}

body {
	font: 14px "Gill Sans", Helvetica, Arial, sans-serif;
	background-image: url(../images/background.jpg);
	color: white;
	background-repeat: no-repeat !important;
    background-size: cover;
	margin-bottom: 100px;
	// padding-top: 2% !important;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(190, 190, 190);
	text-decoration: none;
}

header {

	padding: 12px 14px;
	position: fixed;
	z-index: 500;
	width: 100%; 

	span {
		margin-left: 15px;
		font-weight: bolder;
		font-size: 1.5em;
		text-transform: uppercase;
		position: relative;
		top: 5px;
		color: white;
	}
}

nav {
	width: 100%;
}

nav:not(.side-nav) {
	ul {
		right: 3em;
		list-style-type: none;
		margin-bottom: 0;

		li {
			display: inline-block;
			font-size: 1.75em;
			padding: 0 0.2em;
			cursor: pointer;
		}
	}
}

.toast {
	position: absolute;
	right: 1em;
	top: 4.25rem;
	z-index: 200;
	color: #333;
	min-width: 175px;

	.toast-body {
		span { margin-left: 0.8rem; position: relative; top: -2px; font-weight: bolder; }
	}
}

.fa-exclamation-triangle { color: red; font-size: 1.5em; }

.container > div:first-of-type { margin-top: 53px; }

// resets for small sizes

.display-4 {
	font-size: 2.25rem;
}

.user-message { text-align: center; font-size: 2rem; }


// .videoComp {
// 	margin-top: 5%;
// }

#flashb {
    font-style: italic;
    font-weight: 400;
    letter-spacing: 5px;
}

.song_cover {
	width: 60%;
}

.thumb-wrapper img {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.thumb-wrapper a:hover {
	width: 50%;
}