// 768 is tablet @ portait

@media screen and (min-width: 768px) {
    .user-message {
        font-size: 2.5rem;
    }

    audio {
        margin-top: 200px;
    }

    .media-title {
        font-size: 1.25em;
    }

    .media-year { float: none; }

    .media-container:first-of-type { padding-bottom: 0; }

    .media-thumb { height: 165px; }

    footer ul { max-width: none; }

}

@media (min-width: 992px) {
    .display-4 {
        font-size: 3.5rem;
    }

    .thumb-wrapper { 
        max-height: 350px; 
        overflow-x: auto; 
    }
    
    .media-title {
        font-size: 1.75em;
    }

    .media-type { 
        list-style-type: none;
        margin-bottom: 0;
        
        li { 
            padding: 1rem;
            cursor: pointer;
            display: inline-block;
            width: 33%;
            text-align: center;
    
            span:first-of-type {  
                font-size: 2rem; 
                color: white;
            }
        }
    
        li:hover span:first-of-type { color: $roku-purple }
    }
}